
/*------------------------------------*\
	COMMONS CLASSES
\*------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 1.1em;
}

.features{
    padding-top: 3.3em;
    padding-bottom: 4.2em;
}

span.typcn::before, i.typcn::before
{
    font-size: 2em;
}

span.x2:before, i.x2:before
{
    font-size: 3.4em;
}

span.x3:before, i.x3:before
{
    font-size: 4.4em;
}

span.x4:before, i.x4:before
{
    font-size: 6em;
}
.mb-5{
    margin-bottom: 5%;
}
.mt-3{
    margin-top: 3%;
}
/*------------------------------------*\
	HEADER
\*------------------------------------*/

header .container-fluid
{
    background-image: url("img/ChicagoDia2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10px;
    background-attachment: fixed;    
}

.hamburger {
    font-size: 3em;
    color: #72497A;
    position: fixed;
    z-index: 1000;
}

.hamburger:hover {
  color: #A268AD;
  cursor: pointer;

}

.jumbotron{
    background: none;
    text-align: center;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron small
{
    color: #F2F1F0;
}

.jumbotron p {
    color: #F2F1F0;
    margin-bottom: 5%;
}
.jumbotron h1{
    margin-top: 15%;
}
.skill {
    color: #048F8D;
}
#skills{
    background-image: url(img/fondo2.jpg);
    z-index: .3;
} 
#skills p{
    color: #72497A !important;
}
#skills h2{
    color:#72497A;
}

/*------------------------------------*\
	SECTIONS
\*------------------------------------*/

#aboutme .container-fluid img {
    width: 100%;
    height: 20vh;
}
#aboutme h2{
    color:#72497A;
    margin-top: 6%;
}
#aboutme {
    color: #fff;
    font-size: 14px;
}
a {
    color: #F2F1F0;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
    a:hover,
    a.selected {
        color: #04A3A7;
    }
.soyo{
    margin-top: 5%;
}
.redondo{
    border-radius: 50px;
    border: 1px solid black;
}
.img-tam{
    width:250px;
    height:250px;
}
.img-tam1{
    width:200px;
    height:220px;
}

#proyects .container-fluid{
    background-image: url("img/chicagoDia3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70vh;
    background-attachment: fixed;   

}
#proyects h2{
    color:#72497A;
    margin-top: 3%;
    margin-bottom: 3%;
}
/*------------------------------------*\
    TIME LINE
\*------------------------------------*/

#timeline {
    width: 70%;
    height: 380px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('img/dot.gif') left 45px repeat-x;
    background-color: #1A3B41;

}
#dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
}
    #dates li {
        list-style: none;
        float: left;
        width: 100px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        background: url('img/biggerdot.png') center bottom no-repeat;
    }
        #dates a {
            line-height: 38px;
            padding-bottom: 10px;
        }
        #dates .selected {
            font-size: 38px;
        }
        
#issues {
    width: 800px;
    height: 350px;
    overflow: hidden;
}   
    #issues li {
        width: 800px;
        height: 350px;
        list-style: none;
        float: left;
    }
        #issues li.selected img {
            -webkit-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            -o-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
        }
        #issues li img {
            float: left;
            margin: 15px 30px 10px 50px;
            background: transparent;
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
            zoom: 1;
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
            -ms-transition: all 2s ease-in-out; 
            transition: all 2s ease-in-out;
            -webkit-transform: scale(0.7,0.7);
            -moz-transform: scale(0.7,0.7);
            -o-transform: scale(0.7,0.7);
            -ms-transform: scale(0.7,0.7);
            transform: scale(0.7,0.7);
        }
        #issues li h2 {

            color: #04A3A7;
            font-size: 48px;
            margin: 20px 0;
            text-shadow: #000 1px 1px 2px;
        }
        #issues li p {
            font-size: 16px;
            margin-right: 70px;
            font-weight: normal;
            line-height: 22px;
            text-shadow: #000 1px 1px 2px;
        }
        
#grad_left,
    #grad_right {
        width: 100px;
        height: 377px;
        position: absolute;
        top: 0;
    }
    #grad_left {
        left: 0;
        background: url('img/grad_left.png') repeat-y;
    }
    #grad_right {
        right: 0;
        background: url('img/grad_right.png') repeat-y;
    }
        
        #next,
        #prev {
            position: absolute;
            top: 0;
            font-size: 70px;
            top: 170px;
            width: 22px;
            height: 38px;
            background-position: 0 0;
            background-repeat: no-repeat;
            text-indent: -9999px;
            overflow: hidden;
        }
            #next:hover,
            #prev:hover {
                background-position: 0 -76px;
            }
            #next {
                right: 2%;
                background-image: url('img/next.png');
            }
            #prev {
                left: 2%;
                background-image: url('img/prev.png');
            }
                #next.disabled,
                #prev.disabled {
                    opacity: 0.2;
                }
/*------------------------------------*\
	FOOTER
\*------------------------------------*/
#foo .container-fluid img{
    width: 100%;
    height: 20vh;
 
}
.datos{
    margin-top: 25%;
    color: #048F8D;
    font-size: 24px;
}
#contacto h2{
    color:#72497A;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.redso a{
    font-size: 4em;
    color:#048F8D;
    margin-left:13%;
}
.redso a:hover{
    color: #72497A;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer
{
    background-color: #72497A;
    height: 30vh;
}
.pfoo{
    margin-top: 7%;
    color: #F2F1F0;
}

.footh4{
    text-align: center;
    color: #F2F1F0;
    background-color:#72497A;
}

footer span{
    color: #048F8D;
}